@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>

<div>Hello @HttpContext.Current.User.Identity.Name</div>

<h3>Your files:</h3>

@{ Html.RenderPartial("ShowError"); }

@{ Html.RenderAction("FilmsByUser", "Files"); }

@{ Html.RenderPartial("SocialLinks"); }