@{
    ViewBag.Title = FilmsStorage.Resources.Views.Account.Index.PageTitle;
}

<h2>@FilmsStorage.Resources.Views.Account.Index.YourProfile</h2>

<div>@FilmsStorage.Resources.Views.Account.Index.Hello @HttpContext.Current.User.Identity.Name</div>

<h3>@FilmsStorage.Resources.Views.Account.Index.YourFiles:</h3>

@{ Html.RenderPartial("ShowError"); }

@{ Html.RenderAction("FilmsByUser", "Files"); }

@{ Html.RenderPartial("SocialLinks"); }